<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>žaliavos gaminių kortelė</title>
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="jquery-ui.css">
	<style>
 
	</style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="main.js"></script>
  <script>
  
  $( function() {
    var dialog, form,
     	   
      // From http://www.whatwg.org/specs/web-apps/current-work/multipage/states-of-the-type-attribute.html#e-mail-state-%28type=email%29
      // platuma_centrines_dalies	ilguma_centrines_dalies	kiekis_zaliavos_vertinamas
      // id_gaminio = $( "#id_gaminio" ),
      kiekis_zaliavos = $( "#kiekis_zaliavos" ),
      kiekis_gaminiu = $( "#kiekis_gaminiu" ),      
      allFields = $( [] ).add( kiekis_zaliavos ).add ( kiekis_gaminiu ) ,
      tips = $( ".validateTips" );
 
    function pridetiZaliavosGamini() {
    
      var valid = true;
      allFields.removeClass( "ui-state-error" );
      
       	  // id pav flag_skirtas_galutiniam_vartojimui vnt_mato kiekis kaina_uz_kiekio_vnt aprasymas
      

      // valid = valid && checkLength( tips, id_gaminio, "Gaminio id", 1, 10 );
      valid = valid && checkLength( tips, kiekis_zaliavos, "Kiekis žaliavos", 2, 12 );
      valid = valid && checkLength( tips, kiekis_gaminiu, "Kiekis gaminių", 2, 12 );     
   
 
      // valid = valid && checkRegexp( tips, id_gaminio, /^([0-9])+$/, "Gaminio id - gali būti simboliai : 0-9 " );     
      valid = valid && checkRegexp( tips, kiekis_zaliavos, /^([0-9.eE+-])+$/, "Kiekis žaliavos - gali būti simboliai : 0-9 . eE+-" );
      valid = valid && checkRegexp( tips, kiekis_gaminiu, /^([0-9.eE+-])+$/, "Kiekis gaminių - gali būti simboliai : 0-9 . eE+-" );      
       
 
      if ( valid ) {
      
      	form.submit();
        dialog.dialog( "close" );
      }
      return valid;
    }
 

 	// $( "#data_form" ).hide();
 	
		    dialog = $( "#data_form" ).dialog({
		      autoOpen: false,
		      height: 500,
		      width: 450,
		      modal: true,
		      buttons: {
		        "Saugoti": pridetiZaliavosGamini,
		        Cancel: function() {
		          dialog.dialog( "close" );
		        }
		      },
		      close: function() {
		        form[ 0 ].reset();
		        allFields.removeClass( "ui-state-error" );
		      }
		    }); 
		   form = dialog.find( "form" );  	

	$( '#gaminiu_tipas' ).change ( function() {
	
		tipas = $( this ).val();
	
    	$.ajax({
		 	url: '/gaminiai-pagal?tipas=' + tipas
		 
		}).done( function( gaminiai ) {   
		
			selektas = '<select name="id_gaminio" id="id_gaminio" value="0">'
			
			for ( i = 0; i < gaminiai.length; i++ ) {
				
				selektas += '<option value="' + gaminiai [ i ].id + '">'  + gaminiai [ i ].pav + '</option>';
			}
			selektas += '</select>'
			
			$( '#select_place' ).html( selektas );
		});	
	});

 
    $( "#zaliavos-gaminio-dialogas" ).button().on( "click", function() {

		dialog.dialog( "open" );	
    });
    
    $( ".keisti_zaliavos-gamini" ).each ( function() {
    
    	$( this ).click( function() {
    		/*
    		id = $( this ).data( 'id' );
    		
    		$( '#id' ).val ( id );
    		
    		$.ajax({
		 		 url: '/zaliava?id=' + id
		 
			}).done( function( zaliava ) {
    		
	    		$( '#pav' ).val ( zaliava.pav );
	    		
	    		if ( zaliava.flag_skirtas_galutiniam_vartojimui == '1' ) {
	    		
					$( '#flag_skirtas_galutiniam_vartojimui' ).prop ( 'checked', true );
					
				} else {
				
					$( '#flag_skirtas_galutiniam_vartojimui' ).prop ( 'checked', false );				
				}
				$( '#vnt_mato' ).val( zaliava.vnt_mato ); 
				$( '#kiekis' ).val( zaliava.kiekis );
				$( '#kaina_uz_kiekio_vnt' ).val( zaliava.kaina_uz_kiekio_vnt );
				$( '#aprasymas' ).html( zaliava.aprasymas );  		
	    		
	    		dialog.dialog( "open" );
    		});
    		*/
    	});
    });
    
     dialog_msg = $( "#dialog-message" ).dialog({
      autoOpen: false,     
      modal: true,
      buttons: {
        Gerai: function() {
          $( this ).dialog( "close" );
          location.reload();
        }
      }
    });
    
       dialog_del  = $( "#dialog-confirm" ).dialog({
   
	      autoOpen: false,   
	      resizable: false,
	      height: "auto",
	      width: 400,
	      modal: true,
	      buttons: {
	        "Šalinti įrašą": function() {
	        
		        $.ajax({
			 		 url: '/salinti-zaliava?id=' + id
			 
				}).done( function( data ) {
				
					if ( data == "1" ) {
					
						$( '#del_res' ).html ( 'nurodytas įrašas pašalintas' );
						dialog_msg.dialog( "open" );
						
					} else {

						$( '#del_res' ).html ( 'įrašo pašalinti nepavyko' );
						dialog_msg.dialog( "open" );					
	        		}
	          		$( this ).dialog( "close" );
	          	});
	        },
	        "Atšaukti": function() {
	          $( this ).dialog( "close" );
	        }
	      }
	   });    
    
    $( '.salinti_zaliava' ).each ( function() {
    	/*
    	$( this ).click( function() {
    
    		id = $( this ).data( 'id' );
    		
    		$( '#inf_id' ).html ( id );
    
     		$.ajax({
		 		 url: '/zaliava?id=' + id
		 
			}).done( function( zaliava ) {
    		
	    		$( '#inf_pav' ).html ( zaliava.pav );
	    		
	    		if ( zaliava.flag_skirtas_galutiniam_vartojimui == '1' ) {
	    		
					$( '#inf_flag_skirtas_galutiniam_vartojimui' ).html ( '&check;' );
					
				} else {
				
					$( '#inf_flag_skirtas_galutiniam_vartojimui' ).html ( '&cross;' );				
				}
				$( '#inf_vnt_mato' ).html( zaliava.vnt_mato ); 
				$( '#inf_kiekis' ).html( zaliava.kiekis );
				$( '#inf_kaina_uz_kiekio_vnt' ).html( zaliava.kaina_uz_kiekio_vnt );
				$( '#inf_aprasymas' ).html( zaliava.aprasymas );  		
	    		
	    		dialog_del.dialog( "open" );
    		});   	
    	});
    	*/
    });
  });
  </script>	
	
</head>
<body>
	<article>
	<h3>Žaliavos gaminiai</h3>
	<table>
		<tr th:each="klaida : ${errors}">
			<td th:text="${klaida}">
			</td>
		</tr>
	</table>	
	<table>
		<tr>
			<th>
				id
			</th>
			<th>
				Gaminys
			</th>
			<th>				
				Kiekis<br>
				žaliavos
			</th>
			<th>				
				Kiekis<br>
				gaminiu
			</th>			
			<th>
				Veiksmai<br>
				<button id="zaliavos-gaminio-dialogas">Nauja</button>
			</th>
		</tr>
		<tr th:each="zaliavos_gaminys : ${gaminiai_zaliavos}">
			<td th:text="${zaliavos_gaminys.getId()}"></td>
			<td th:text="${zaliavos_gaminys.getGaminiai().getPav()}"></td>			
			<td th:text="${zaliavos_gaminys.getKiekis_zaliavos()}"></td>
			<td th:text="${zaliavos_gaminys.getKiekis_gaminiu()}"></td>
			<td>
				<button class="keisti_zaliava ui-button ui-corner-all ui-widget" th:data-id="${zaliavos_gaminys.getId()}">Keisti</button>
				<button class="salinti_zaliava ui-button ui-corner-all ui-widget" th:data-id="${zaliavos_gaminys.getId()}">Šalinti</button>				
			</td>									
		</tr>					
		</tr>
	</table>
	</article>
	<div id="data_form" title="Žaliavos gaminio duomenys">
		<p class="validateTips">All form fields are required.</p>	
		<form action="" method="POST">
			<fieldset>					

		
			<label for="gaminiu_tipas">gaminiu tipas</label>		
			<select id="gaminiu_tipas">
				<option value="statyba">statyba</option>
				<option value="gamyba">gamyba</option>
			</select>
		
			<label for="id_gaminio">gaminys</label> 
			<div id="select_place">
			</div>		
			
			<label for="kiekis_zaliavos">kiekis žaliavos</label>	
			<input type="text" name="kiekis_zaliavos" id="kiekis_zaliavos" value="1000">
			
			<label for="kiekis_gaminiu">kiekis gaminiu</label>	
			<input type="text" name="kiekis_gaminiu" id="kiekis_gaminiu" value="100">			
	
			<input type="hidden" name="id" id="id" value="0">
				
			<input type="hidden" name="saugoti" value="saugoti">
			</fieldset>
		</form>
	</div>
	<div id="dialog-confirm" title="Įrašo šalinimas?">
  	<p>
  		<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
  		<fieldset>
			<label class="inf">pavadinimas</label>
			<span class="inp_field" id="inf_pav">Geležies rūda</span>	
			<p>
			<span id="inf_flag_skirtas_galutiniam_vartojimui">&check;</span> - <label class="after">skirtas galutiniam vartojimui</label>
			</p>
			<label class="inf">mato vnt.</label>
			<span  class="inp_field" id="inf_vnt_mato">kg</span>			
			
			<label class="inf">kiekis</label>	
			<span  class="inp_field" id="inf_kiekis">1000</span>
			
			<label class="inf">kaina už kiekio vnt.</label> 
			<span  class="inp_field" id="inf_kaina_uz_kiekio_vnt">100</span>
			
			<label class="inf">aprašymas</label>	
			<p id="inf_aprasymas">
			balų rūda
			</p>
		</fieldset>
  		Ar tikrai norite pašalinti šį įrašą nr. <span id="inf_id"></span>?
  	</p>
	</div>
	
	<div id="dialog-message" title="įrašas pašalintas">
	  <p>
	    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
	    <span id="del_res"></span>
	  </p>
	</div>	
</body>
</html>